/* ************** VARIABLES ************** */
:root {
  /* Colores */
  --clr-light: rgb(255, 255, 255);
  --clr-dark: rgb(0, 0, 0);
  /* Fuentes */
  --font-main: 'Roboto', sans-serif;
}

/* *************** GENERAL *************** */
*, *::after, *::before {
  box-sizing: border-box;
}
html {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: lighter;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}
h1 {
  font-weight: bold;
}
.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section,
.section {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  width: 55%;
  padding: 3rem 2rem;
  margin-bottom: 5rem;
}
.section-title {
  font-size: 1.5rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.gallery {
  justify-content: center;
  align-items: center;
}

/* *************** HEADER *************** */
.header {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
  height: 2rem;
  z-index: 100;
}
.main-nav {
  padding-right: 2rem;
}
.main-nav h1 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.nav-ul {
  display: none;
}

/* *************** HERO *************** */
.hero {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}
.hero-img {
  display: flex;
  align-items: center;
  /* width: 100%; */
}
.hero-img img {
  width: 100%;
}
.hero-overlay {
  /* border: 1px solid red; */
  display: flex;
  position: absolute;
  width: 100%;
  /* width: 80%; */
  height: 100%;
}
.overlay-piece {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  background-color: var(--clr-light);
}
.overlay-char {
  font-size: 17rem;
  font-weight: bold;
}

/* *************** GALERIA *************** */
/* .gallery {
  width: 100vw;
  height: 100vh;
} */
.carousel {
  /* border: 1px solid red; */
  position: relative;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}
.carousel__track-container {
  /* border: 1px solid green; */
  background: lightgray;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.carousel__track {
  /* border: 1px solid yellow; */
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}
.carousel__slide {
  /* border: 1px solid blue; */
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.carousel__image {
  width: 100%;
  object-fit: contain;
}
.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}
.carousel__button--left {
  left: -40px;
}
.carousel__button--right {
  right: -40px;
}
.carousel__button i {
  font-size: 1.5rem;
}
.carousel__nav {
  background: pink;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.carousel__indicator {
  background: rgba(0, 0, 0, .3);
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 0 10px;
}
.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, .7)
}

/* *************** MODELOS *************** */
.models {
  width: 90%;
}
.models-display {
  /* border: 1px solid purple; */
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.models-sidebar,
.model-selected {
  /* border: 1px solid red; */
}
.models-sidebar {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  /* height: auto; */
}
.model-selected {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 60%;
  /* height: auto; */
}
.model{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.models-sidebar .model {
  /* border: 1px solid green; */
  width: 50px;
  height: 80px;
  margin: 1rem;
}
.models-sidebar.right .model {
  margin: 2rem 1rem;
}
.model-img {
  position: absolute;
  width: 100%;
  opacity: .5;
  z-index: 1;
}
.model-name {
  font-weight: bold;
  text-align: center;
  z-index: 2;
}
.models-sidebar .model-name {
  font-size: 4rem;
}

.model-selected .model {
  width: 80%;
  height: 80%;
}
.model-selected .model-img {
  width: 40%;
}
.model-selected .model-name {
  font-size: 15rem;
}

/* *********** ESPECIFICACIONES *********** */
.specs span {
  /* border: 1px solid red; */
  display: inline-block;
  margin-bottom: 1rem;
}
.materials {
  /* border: 1px solid purple; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 3rem;
}
.material {
  /* border: 1px solid red; */
  width: 10rem;
  height: 10rem;
  margin: 1rem;
}
.material img {
  width: 100%;
}
.modules {
  /* border: 1px solid purple; */
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 150%;
  height: 500px;
  overflow: hidden;
}
.modules video {
  width: 100%;
}

/* *********** VIDEO *********** */
.video {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: sticky;
  overflow: hidden;
}
.video video {
  width: 100vw;
}

/* *********** CONTACTO *********** */
.contact-ol {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  /* opacity: 0; */
}
.contact {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  color: white;
  margin-top: 4rem;
}
.contact > div {
  /* border: 1px solid red; */
  width: 50%;
  padding: 2rem 5rem;
}

/* CONTACT FORM */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-form .section-title {
  color: var(--clr-light);
}
.form-container {
  background-color: var(--clr-dark);
  border-radius: .5rem;
  padding: 1rem;
  width: 350px;
  /* min-height: 350px; */
}
.form input,
.form textarea {
  font-family: var(--font-main);
  font-size: 1rem;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  width: 100%;
  padding: .5rem;
}
.form textarea {
  height: 200px;
}
.form .checkbox,
.form .checkbox-label {
  display: inline;
  width: auto;
  margin: 1rem 0;
}
.form .submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 .5rem;
}
.form .submit input {
  display: block;
  width: auto;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  padding: .5rem 1rem;
  border: none;
  border-radius: 5px;
}


/* SOCIAL LINKS */
.social {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.brand-title {
  font-size: 8rem;
  font-weight: bold;
}
.social-links i {
  font-size: 3rem;
  margin: 1rem;
}
