/* *********** SIDEBAR *********** */
.sidebar {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  padding: 3rem;
  font-size: .8rem;
  line-height: 1.5;
}
.sidebar__model  {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 130px;
  margin: 2rem;
}
.sidebar__model__name {
  font-weight: bold;
  font-size: 6rem;
  text-align: center;
  z-index: 2;
}
.sidebar__model__img {
  position: absolute;
  height: 100%;
  opacity: .5;
  z-index: 1;
}
.sidebar__title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* *********** GALERÃA *********** */
.model-gallery {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 0 7rem 20vw;
  padding: 0 7rem 0 2rem;
}
.model-gallery > div {
  /* border: 2px solid red; */
}
.model-gallery__renders,
.model-gallery__blueprints,
.model-gallery__pictures {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.model-gallery__renders img,
.model-gallery__blueprints img,
.model-gallery__pictures img {
  /* border: 1px solid red; */
  width: 75%;
  margin: .5rem;
}
