/* *********** SIDEBAR *********** */
.sidebar {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  padding: 3rem;
  font-size: .8rem;
  line-height: 1.5;
}
.sidebar__model  {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 130px;
  margin: 2rem;
}
.sidebar__model__name {
  font-weight: bold;
  font-size: 6rem;
  text-align: center;
  z-index: 2;
}
.sidebar__model__img {
  position: absolute;
  height: 100%;
  opacity: .5;
  z-index: 1;
}
.sidebar__title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* *********** GALERÃA *********** */
.model-gallery {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 0 7rem 20vw;
  padding: 0 7rem 0 2rem;
}
.model-gallery > div {
  /* border: 1px solid red; */
}
.model-gallery__renders {
  display: flex;
  width: 100%;
}
.model-gallery__renders img {
  width: 100%;
}
.model-gallery .col {
  padding: 1rem;
}
.model-gallery .first-col {
  width: 55%;
  height: 100%;
}
.model-gallery .second-col {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 40%;
}
.col__img--top {
  margin-bottom: 1rem;
}

.model-gallery__blueprints {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3rem;
}
.model-gallery__blueprints img {
  width: 100%;
}
.model-gallery__pictures {
  display: flex;
  flex-direction: column;
}
.model-gallery__pictures .first-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.model-gallery__pictures .first-row img {
  width: 50%;
  padding: 1rem;
}

.model-gallery__pictures .second-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.model-gallery__pictures .second-row img {
  width: 100%;
  padding: 1rem;
}
